/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 20px;
}
login-button {
  text-align: right;
}

main {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  flex-grow: 1;
}

/* Account Summary Styles */
.account-summary {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 45%;
}

/* Transaction History Styles */
.transaction-history {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 45%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
}
